* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavContainer {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.LinkContainer {
  display: flex;
  align-items: center;
}

.Link {
  padding: 10px 15px;
  color: #ff6060;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  cursor: pointer;
  text-decoration-line: underline;
  font-style: normal;
  font-weight: 500;
}
@media (min-width:1024px) {
  a.Link {
  text-decoration: none;
}
}


@media (max-width: 320px) {
  .Link {
    padding: 0px 5px;
    font-size: 9px;
    text-transform: uppercase;
  }

  .LinkContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .Logo {
    height: 47px;
    width: 100%;
  }

  .ImgLogo {
    width: 75%;
    height: 47px;
  }
}

@media (min-width: 375px) {
  .Link {
    padding: 0px 5px;
    font-size: 12px;
  }

  .LinkContainer {
    display: flex;
    align-items: center;
  }

  .Logo {
    height: auto;
    max-width: 43%;
  }

  .ImgLogo {
    width: 95px;
  }
}

@media (min-width: 425px) {
  .Link {
    padding: 0px 5px;
    font-size: 12px;
  }

  .LinkContainer {
    width: 100%;
    display: flex;
   justify-content: flex-end;
    align-items: center;
  }

  .Logo {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .ImgLogo {
    width: 95px;
  }
}

@media (min-width: 767px) {
  .ImgLogo {
    width: 174px;
    height: 64px;
  }

  .Link {
    padding: 0px 5px;
    font-size: 24px;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .ImgLogo {
    width: 174px;
    height: 64px;
  }

  .Link {
    padding: 0px 20px;
    font-size: 24px;
    font-weight: 500;
  }

  .LinkContainer {
    width: 100%;
    display: flex;
   justify-content: flex-end;
    align-items: center;
  }
}