.ContainerError{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgError{
   margin: 20px;
   padding: 20px;
   height: 263px;
   width: 597px;
}

.P_Error{
    color:#FF6060;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 100px;
}

.LinkError{
    font-size: 18px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link_Error{
    color:#FF6060;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

